In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df = pd.read_csv(r"C:\Users\shash\OneDrive\Desktop\Machine Learning\25 Normalization\wine_data.csv",header=None,usecols=[0,1,2] )

In [17]:
df.head()

   0      1     2
0  1  14.23  1.71
1  1  13.20  1.78
2  1  13.16  2.36
3  1  14.37  1.95
4  1  13.24  2.59

In [19]:
df.columns=['Class Label','Alcohol','Malic Acid']

In [21]:
df

     Class Label  Alcohol  Malic Acid
0              1    14.23        1.71
1              1    13.20        1.78
2              1    13.16        2.36
3              1    14.37        1.95
4              1    13.24        2.59
..           ...      ...         ...
173            3    13.71        5.65
174            3    13.40        3.91
175            3    13.27        4.28
176            3    13.17        2.59
177            3    14.13        4.10

[178 rows x 3 columns]

In [23]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,Y_train,Y_test = train_test_split(df.drop('Class Label',axis=1),df['Class Label'],test_size = 0.2, random_state=1)

In [27]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((142, 2), (36, 2), (142,), (36,))

In [31]:
from sklearn.preprocessing import MinMaxScaler

In [39]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_trainscaled = scaler.transform(X_train)
X_testscaled= scaler.transform(X_train)

In [41]:
X_trainscaled = pd.DataFrame(X_trainscaled,columns=X_train.columns)
X_testscaled =pd.DataFrame(X_testscaled,columns=X_test.columns)

In [43]:
np.round(X_trainscaled.describe(),1)

       Alcohol  Malic Acid
count    142.0       142.0
mean       0.5         0.3
std        0.2         0.2
min        0.0         0.0
25%        0.3         0.1
50%        0.5         0.2
75%        0.7         0.5
max        1.0         1.0